<!-- 新闻列表 -->
<template name="secondLeftList">
	<!-- 列表 -->
	<p>新闻列表</p>
	{{typeID}}
	{{#each newsList}}
		{{> newsListCell}}
	{{/each}}
</template>

<template name="newsListCell">

	<!-- 文章cell -->
    <div class="mod_cell">
       <div class="row">
        <!-- 文章图片 -->
        <div class="mod_cell_pic col-md-3 col-sm-3 col-xs-3">
            <a href="#">
              <img src="http://images.huxiu.com/article/cover/201601/29/112445349185.jpg">
            </a>
        </div>

        <!-- 文章信息 -->
        <div class="col-md-9 col-sm-9 col-xs-9">
            <a href="#" class="subtitle" alt="文章标题">{{title}}</a>
            <div class="desc">{{over_content}}</div>
            <div class="all">基本信息/分享/标签</div>
        </div>

      </div>
    </div>
   	<!-- 文章cell end-->

</template>