<template name="commentAdd">

		<!-- validation -->
		<div class="row-fluid">
			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">用户信息注册</div>
				</div>
				<div class="block-content collapse in">
					<div class="span12">
						<!-- BEGIN FORM-->
						<form action="#" id="form_sample_1" class="form-horizontal" method="post">
							<fieldset>
								<div class="alert alert-error hide">
									<button class="close" data-dismiss="alert"></button>
									You have some form errors. Please check below.
								</div>
								<div class="alert alert-success hide">
									<button class="close" data-dismiss="alert"></button>
									Your form validation is successful!
								</div>
								<div class="control-group">
									<label class="control-label"><span class="required">* </span>名称</label>
									<div class="controls">
										<input type="text" name="name" data-required="1" class="span6 m-wrap " />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label"><span class="required">* </span>邮箱</label>
									<div class="controls">
										<input name="email" type="text" class="span6 m-wrap" />
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label"><span class="required">* </span>密码</label>
									<div class="controls">
										<input name="pwd" class="span6 m-wrap" type="password" >  </div> 
									<div class="controls">
										<span>
										<input name="pwdq" class="span6 m-wrap " type="password" >
										&nbsp;（確認）	
										</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">电话</label>
									<div class="controls">
										<input name="number" type="text" class="span6 m-wrap" />
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label">性别</label>
									<div class="controls form-inline">
										<select class="form-control" name="sex">
											<option value="Category 1">男</option>
											<option value="Category 2">女</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">确定</button>
										&nbsp;
										<button type="reset" class="btn">重置</button>
									</div>
								</div>
							</fieldset>
						</form>
						<!-- END FORM-->
					</div>
				</div>
			</div>
			<!-- /block -->
		</div>
		<!-- /validation -->
</template>