<template name="newsView">
		<!-- validation -->
		<div class="row-fluid">
			<!-- block -->
			<div class="block">
				<div class="navbar navbar-inner block-header">
					<div class="muted pull-left">新闻信息登入</div>
				</div>
				<div class="block-content collapse in">
					<div class="span12">
						<!-- BEGIN FORM-->
						<form action="#" id="news_info_add" class="form-horizontal">
							<fieldset>
								<div class="alert alert-error hide">
									<button class="close" data-dismiss="alert"></button>
									You have some form errors. Please check below.
								</div>
								<div class="alert alert-success hide">
									<button class="close" data-dismiss="alert"></button>
									Your form validation is successful!
								</div>

								<div class="control-group">
									<label class="control-label">新闻来源</label>
									<div class="controls form-inline">
										<select class="form-control" id="sourceID" name="sourceID">
											<option value="1" {{selected sourceID 1}}>系统</option>
											<option value="2" {{selected sourceID 2}}>抓取</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label"><span class="required">* </span>标题</label>
									<div class="controls">
										<input type="text" id="title" name="title" value="{{title}}" data-required="1" class="span6 m-wrap " />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label"><span class="required">* </span>副标题</label>
									<div class="controls">
										<input type="text" id="secondTitle" value="{{secondTitle}}" name="secondTitle" data-required="1" class="span6 m-wrap" />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label"><span class="required">* </span>简介</label>
									<div class="controls">
										<input type="text" id="introduce" value="{{introduce}}" name="introduce" data-required="1" class="span6 m-wrap" />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label"><span class="required">* </span>内容</label>
									<div class="controls row-fluid">
			                            <div class="span10 block-content collapse in">
			                               <textarea name="content" value="{{content}}" id="content" class="span6 m-wrap"></textarea>
			                            </div>
				                    </div>
								</div>

								<div class="control-group">
									<label class="control-label">标签</label>
									<div class="controls form-inline">
										<select class="span2 form-control" id="tagObj" name="tagObj">
											<option value="1" {{selected tagObj 1}}>系统</option>
											<option value="2" {{selected tagObj 2}}>抓取</option>
										</select>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">类型</label>
									<div class="controls form-inline">
										<select class="span2 form-control" id="typeObj" name="typeObj">
											<option value="1" {{selected typeObj 1}}>系统</option>
											<option value="2" {{selected typeObj 2}}>抓取</option>
										</select>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label"><span class="required">* </span>关键字</label>
									<div class="controls">
										<input id="keyWord" name="keyWord" type="text" class="span6 m-wrap" />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">状态</label>
									<div class="controls form-inline">
										<select class="span2 form-control" id="isVaild" name="isVaild">
											<option value="1" {{selected isVaild 1}}>正常</option>
											<option value="2" {{selected isVaild 0}}>删除</option>
											<option value="3" {{selected isVaild 2}}>未发表</option>
										</select>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">排序规则</label>
									<div class="controls form-inline">
										<select class="span2 form-control" id="showRule" name="showRule">
											<option value="1" {{selected showRule 1}}>正常</option>
											<option value="2" {{selected showRule 2}}>置顶</option>
											<option value="3" {{selected showRule 3}}>不显示</option>
											<option value="4" {{selected showRule 4}}>推荐</option>
										</select>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">语言</label>
									<div class="controls form-inline">
										<select class="span2 form-control" id="language" name="language">
											<option value="1" {{selected language 0}}>日文</option>
											<option value="2" {{selected language 1}}>中文</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">原文链接</label>
									<div class="controls">
										<input type="text" id="originURL" name="originURL" data-required="1" class="span6 m-wrap " />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">版权</label>
									<div class="controls form-inline">
										<select class="span2 form-control" id="copyright" name="copyright">
											<option value="1" {{selected copyright 0}}>系统</option>
											<option value="2" {{selected copyright 1}}>复制</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">作者</label>
									<div class="controls">
										<input type="text" id="author" name="author" data-required="1" class="span6 m-wrap " />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">新闻主表ID</label>
									<div class="controls">
										<input type="text" id="newsID" name="newsID" data-required="1" class="span6 m-wrap " />
									</div>
								</div>

								<div class="control-group">
									<label class="control-label">图片</label>
									<div class="controls">
	                                    <div id="uniform-fileInput">
	                                    	<input class="input-file uniform_on" id="imageObj" type="file">
	                                    </div>
	                                </div>
	                            </div>


								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-success">发布</button>
										&nbsp;
										<button type="submit" id="save" class="btn btn-primary">暂存</button>
										&nbsp;
										<button type="reset" class="btn">重置</button>
									</div>
								</div>
							</fieldset>
						</form>
						<!-- END FORM-->
					</div>
				</div>
			</div>
			<!-- /block -->
		</div>
		<!-- /validation -->

</template>