<!-- 房屋广高 -->
<template name="advHouseLeftCell">
    <li>
        <a href="{{pathFor 'adDetails' id=this._id._str}}">
            <div class="img" style="background-image: url({{getImagePathByID this.imageObj}});"></div>
            <div class="content-info">
                <h2>{{title}}</h2>
                <div class="tools-list">
                    <span class="eye"><i></i>{{authors}}</span><span class="WeChat"><a href="javascript:;"><i class="fa fa-wechat"></i></a></span><span class="webo"><a href="javascript:;"><i class="fa fa-weibo"></i></a></span>
                </div>
                <p style="margin-top: 5px;max-height: 18px;min-height: 18px">位置:{{address}}</p>
                <p style="margin-top: 5px;max-height: 18px;min-height: 18px">地铁:{{nearestStation}}</p>
                <p style="margin-top: 5px;max-height: 18px;min-height: 18px">价格:{{price}}</p>
                <p class="btn" style="margin-top: 0px;">
                    <a href="javascript:;">房产广告</a>
                    <a href="{{pathFor 'adDetails' id=this._id._str}}">详情点击</a>
                </p>
            </div>
        </a>
    </li>

</template>