<!-- 公司招聘信息 -->
<template name="advCompanyJopLeftCell">
    <li>
        <a href="{{pathFor 'adDetails' id=this._id._str}}">
            <div class="img" style="background-image: url({{getImagePathByID this.imageObj}});"></div>
            <div class="content-info">
                <h2>{{title}}</h2>
                <div class="tools-list">
                    <span class="eye"><i></i>{{authors}}</span><span class="WeChat"><a href="javascript:;"><i class="fa fa-wechat"></i></a></span><span class="webo"><a href="javascript:;"><i class="fa fa-weibo"></i></a></span>
                </div>
                <p style="margin-top: 5px;max-height: 18px;min-height: 18px">公司:{{companyName}}</p>
                <p style="margin-top: 5px;max-height: 18px;min-height: 18px">地址:{{workAdress}}</p>
                <p style="margin-top: 5px;max-height: 18px;min-height: 18px">岗位:{{position}}</p>
                <p class="btn" style="margin-top: 0px;">
                        <a href="javascript:;">招聘广告</a>
                        <a href="{{pathFor 'adDetails' id=this._id._str}}">详情点击</a>
                </p>
            </div>
        </a>
    </li>
</template>