<!-- 公司招聘信息 -->
<template name="advCompanyJopLeftCell">
	<!-- 招聘cell -->
    <div class="mod_cell">
       <div class="row">

        <!-- 招聘信息 -->
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a href="{{pathFor 'newsDetail' id=this._id._str}}" class="subtitle" alt="文章标题">{{title}}</a>
            <div class="advInfo">
            <p>公司:{{companyName}}</p>
			<p>地址:{{workAdress}}</p>
            <p>岗位:{{position}}</p>
            </div>
            
        </div>

        <!-- 招聘图片 -->
        <div class="mod_cell_pic col-md-6 col-sm-6 col-xs-6">
            <a href="">
              <img src="{{getImagePathByID this.imageObj}}">
            </a>
        </div>

      </div>
    </div>
   	<!-- 广告cell end-->
</template>