<!-- 房屋广高 -->
<template name="advHouseLeftCell">
	<!-- 广告cell -->
    <div class="mod_cell">
       <div class="row">

        <!-- 房屋信息 -->
        <div class="col-md-6 col-sm-6 col-xs-6">
            <a href="{{pathFor 'newsDetail' id=this._id._str}}" class="subtitle" alt="文章标题">{{title}}</a>
            <div class="advInfo">
            <p>位置:{{address}}</p>
			<p>地铁:{{nearestStation}}</p>
            <p>价格:{{price}}</p>
            </div>
            
        </div>

        <!-- 房屋图片 -->
        <div class="mod_cell_pic col-md-6 col-sm-6 col-xs-6">
            <a href="">
              <img src="{{getImagePathByID this.imageObj}}">
            </a>
        </div>
        
      </div>
    </div>
   	<!-- 广告cell end-->
</template>