<template name="newsListCell">

	<!-- 文章cell -->
    <div class="mod_cell">
       <div class="row">
        <!-- 文章图片 -->
        <div class="mod_cell_pic col-md-3 col-sm-3 col-xs-3">
            <a href="{{pathFor 'newsDetail' id=this._id._str}}">
              <img src="{{getImaegPathByObj this.imageObj}}">
            </a>
        </div>
        
        <!-- 文章信息 -->
        <div class="col-md-9 col-sm-9 col-xs-9">
            <a href="{{pathFor 'newsDetail' id=this._id._str}}" class="subtitle" alt="文章标题">{{title}}</a>
            <div class="desc">{{introduce}}</div>
            <div class="all">
              {{#each tagObj}}
                 <span>{{tagName}}</span>
              {{/each}}
              </div>
        </div>
        
      </div>
    </div>
   	<!-- 文章cell end-->
</template>