<!-- 新闻列表 -->
<template name="secondLeftList">
	<!-- 列表 -->
	<!-- <p>新闻列表</p> -->
    <div class="content-list">
            <ul>
                {{#each newsList}}
                    {{#if this.isAdv}}
                        {{> advLeftCell}}
                    {{else}}
                        {{> newsListCell}}
                    {{/if}}
                {{/each}}

                  <!-- 加载更多 -->
                {{#if hasMore}}
                    <a class="load_more" href="{{pathFor 'second' typeID=typeID limit=newLimit}}" style="color: #2d3237">
                      <strong>加载更多</strong>
                    </a>
                {{/if}}
            </ul>
    </div>
  
</template>

