<template name="adInfoAdd">
	<div class="row">
		<div class="col-md-12 panel-default">
			<div class="content-box-header panel-heading">
				<div class="panel-title ">广告信息登入</div>
			
				<div class="panel-options">
					<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
					<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
				</div>
			</div>
			<div class="content-box-large box-with-header">
				<div class="panel-body">
					<form class="form-horizontal" id="ad_info_add" role="form" method="post">
					  
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">标题</label>
							<div class="col-sm-10">
								<input type="text" id="title" name="title" data-required="1" class="form-control" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">广告类型</label>
							<div class="col-md-10">
								<select class="form-control" id="showRule" name="showRule">
									<option value="0">请选择</option>
									<option value="1">1: 买卖房屋</option>
									<option value="2">2: 租赁房屋</option>
									<option value="3">3: 招聘</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">期望投放位置</label>
							<div class="col-md-10">
								<select class="form-control" id="hopeShowPosition" name="hopeShowPosition">
									<option value="1">1: 首页</option>
									<option value="2">2: 新闻类型</option>
									<option value="3">3: 推荐板块（右侧模块）</option>
								</select>
							</div>
						</div>

                        <div id="house">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">租金</label>
                                <div class="col-sm-10">
                                    <input type="text" id="price" name="price" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">公寓</label>
                                <div class="col-sm-10">
                                    <input type="text" id="apartment" name="apartment" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">户型</label>
                                <div class="col-sm-10">
                                    <input type="text" id="roomType" name="roomType" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">押金</label>
                                <div class="col-sm-10">
                                    <input type="text" id="deposit" name="deposit" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">礼金</label>
                                <div class="col-sm-10">
                                    <input type="text" id="giftMoney" name="giftMoney" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">管理费</label>
                                <div class="col-sm-10">
                                    <input type="text" id="kanrihi" name="kanrihi" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-10">
                                    <input type="text" id="address" name="address" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">交通</label>
                                <div class="col-sm-10">
                                    <input type="text" id="traffic" name="traffic" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">联系电话</label>
                                <div class="col-sm-10">
                                    <input type="text" id="contactPhone" name="contactPhone" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">建造年</label>
                                <div class="col-sm-10">
                                    <input type="text" id="buildYear" name="buildYear" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">楼高</label>
                                <div class="col-sm-10">
                                    <input type="text" id="buildingHigh" name="buildingHigh" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">房屋面积</label>
                                <div class="col-sm-10">
                                    <input type="text" id="houseArea" name="houseArea" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">朝向</label>
                                <div class="col-sm-10">
                                    <input type="text" id="orientation" name="orientation" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">建筑材料</label>
                                <div class="col-sm-10">
                                    <input type="text" id="buildingMaterial" name="buildingMaterial" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">周边环境</label>
                                <div class="col-sm-10">
                                    <input type="text" id="environment" name="environment" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">设备\条件</label>
                                <div class="col-sm-10">
                                    <input type="text" id="condition" name="condition" data-required="1" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">正文</label>
                                <div class="col-sm-10">
                                    <textarea name="content" id="content" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div id="people">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">公司名称</label>
                                <div class="col-sm-10">
                                    <input type="text" id="companyName" name="companyName" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">工作地址</label>
                                <div class="col-sm-10">
                                    <input type="text" id="workAdress" name="workAdress" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">工作岗位</label>
                                <div class="col-sm-10">
                                    <input type="text" id="position" name="position" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">薪酬</label>
                                <div class="col-sm-10">
                                    <input type="text" id="salary" name="salary" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">公司首页</label>
                                <div class="col-sm-10">
                                    <input type="text" id="companyHomePage" name="companyHomePage" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">联系方式</label>
                                <div class="col-sm-10">
                                    <input type="text" id="companyTelephone" name="companyTelephone" data-required="1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">招聘邮箱</label>
                                <div class="col-sm-10">
                                    <input type="text" id="companyEmail" name="companyEmail" data-required="1" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 col-md-2 control-label">岗位职责</label>
                                <input type="hidden" id="zhizenum" value="1"/>
                                <div class="col-sm-9 col-md-9">
                                    <input type="text" id="duty" name="duty" placeholder="输入内容显示为一行" data-required="1" class="form-control" />
                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <input type="button" class="btn btn-info" id="addzhize" value="新建一行"/>
                                </div>
                                <div id="zhize" class="col-md-offset-2 col-md-10"></div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 col-md-2 control-label">任职要求</label>
                                <input type="hidden" id="yaoqiunum" value="1"/>
                                <div class="col-sm-9 col-md-9">
                                    <input type="text" id="requirement" name="requirement" placeholder="输入内容显示为一行" data-required="1" class="form-control" />
                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <input type="button" class="btn btn-info" id="addyaoqiu" value="新建一行"/>
                                </div>

                                <div id="yaoqiu" class="col-md-offset-2 col-md-10"></div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 col-md-2 control-label">任职要求</label>
                                <input type="hidden" id="fulinum" value="1"/>
                                <div class="col-sm-9 col-md-9">
                                    <input type="text" id="weal" name="weal" data-required="1" placeholder="输入内容显示为一行" class="form-control" />
                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <input type="button" class="btn btn-info" id="addfuli" value="新建一行"/>
                                </div>

                                <div id="fuli" class="col-md-offset-2 col-md-10"></div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">公司介绍</label>
                                <div class="col-sm-10">
                                    <textarea name="companyIntroduce" id="companyIntroduce" class="form-control"></textarea>
                                </div>
                            </div>

                        </div>


						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">简介</label>
							<div class="col-sm-10">
								<input type="text" id="introduce" name="introduce" data-required="1" class="form-control" />
							</div>
						</div>
                        <br>

						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">广告客户ID</label>
							<div class="col-sm-10">
								<input id="cstId" name="cstId" type="text" value="{{cstId}}" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">广告客户邮箱</label>
							<div class="col-sm-10">
								<input id="advEmail" name="advEmail" type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">广告客户联系电话</label>
							<div class="col-sm-10">
								<input id="advTelephone" name="advTelephone" type="text" class="form-control" />
							</div>
						</div>

						{{> uploadForm}}

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">发布</button>
								&nbsp;
								<button type="reset" class="btn">重置</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</template>

