<template name="newsView">
	<div class="row">
		<div class="col-md-12 panel-default">
			<div class="content-box-header panel-heading">
				<div class="panel-title ">新闻信息登入</div>
			
				<div class="panel-options">
					<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
					<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
				</div>
			</div>
			<div class="content-box-large box-with-header">
				<div class="panel-body">
					<form class="form-horizontal" id="news_info_update" role="form" method="post">
						<input type="hidden" name="_id"  id="_id" value="{{_id._str}}"/>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">标题</label>
							<div class="col-sm-10">
								<input type="text" id="title" name="title" value="{{title}}" data-required="1" class="form-control" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">副标题</label>
							<div class="col-sm-10">
								<input type="text" id="secondTitle" value="{{secondTitle}}" name="secondTitle" data-required="1" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">简介</label>
							<div class="col-sm-10">
								<input type="text" id="introduce" name="introduce" value="{{introduce}}" data-required="1" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">内容</label>
							<div class="col-sm-10">
								<textarea name="content" id="content" value="{{content}}" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">标签</label>
							<div class="col-sm-10">
								{{> tagShow}}
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">类型</label>
							<div class="col-sm-10">
								{{> userTypeShow}}
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">关键字</label>
							<div class="col-sm-10">
								<input id="keyWord" name="keyWord" value="{{keyWord}}" type="text" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">状态</label>
							<div class="col-md-10">
								<select class="span2 form-control" id="isVaild" name="isVaild">
									<option value="1" {{selected isVaild 1}}>1: 正常</option>
									<option value="0" {{selected isVaild 0}}>0: 删除</option>
									<option value="2" {{selected isVaild 2}}>2: 未发表</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">排序规则</label>
							<div class="col-md-10">
								<select class="span2 form-control" id="showRule" name="showRule">
									<option value="1" {{selected showRule 1}}>1: 正常</option>
									<option value="2" {{selected showRule 2}}>2: 置顶</option>
									<option value="3" {{selected showRule 3}}>3: 不显示</option>
									<option value="4" {{selected showRule 4}}>4: 推荐</option>
								</select> 
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">语言</label>
							<div class="col-md-10">
								<select class="span2 form-control" id="language" name="language">
									<option value="0" {{selected language 0}}>0: 日文</option>
									<option value="1" {{selected language 1}}>1: 中文</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">原文链接</label>
							<div class="col-sm-10">
								<input type="text" id="originURL" name="originURL" value="{{originURL}}" data-required="1" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">版权</label>
							<div class="col-md-10">
								<select class="span2 form-control" id="copyright" name="copyright">
									<option value="1" {{selected copyright 1}}>1: 系统</option>
									<option value="2" {{selected copyright 2}}>2: 复制</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">作者</label>
							<div class="col-sm-10">
								<input type="text" id="author" name="author" value="{{author}}" data-required="1" class="form-control" />
							</div>
						</div>

						{{> uploadForm}}


						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">更新</button>
								&nbsp;
								<button type="submit" id="save" class="btn btn-primary">发布</button>
								&nbsp;
								<button type="reset" class="btn">重置</button>
								&nbsp;
								<button type="submit" id="delete" class="btn btn-danger">删除</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</template>

