    /*banner*/
    .banner {
        margin: 0 0 20px 0;
        overflow: hidden;
    }
    
    .banner-left {
        float: left;
        width: 650px;
        height: 400px;
    }
    
    .banner-right {
        float: right;
        width: 330px;
        height: 400px;
        margin-left: 20px;
    }
    
    .banner-right img {
        width: 335px;
        height: 192px;
        border: 0;
    }
    
    .banner-right .one {
        margin-bottom: 20px;
    }
    
    .focus {
        width: 650px;
        height: 400px;
        position: relative;
    }
    
    .focus #pic {
        width: 650px;
        height: 400px;
        overflow: hidden;
    }
    
    .focus #pic li img {
        float: left;
        width: 650px;
        height: 400px;
    }
    
    .focus .btns {
        position: absolute;
        right: 15px;
        bottom: 15px;
        z-index: 88;
        border-radius: 0;
    }
    
    .focus .btns li {
        width: 25px;
        height: 66px;
        float: left;
        cursor: pointer;
        overflow: hidden;
    }
    
    .focus .btns li.prev {
        background: rgba(50, 50, 50, .6) url(../images/next.png) no-repeat 7px 50%;
    }
    
    .focus .btns li.next {
        background: rgba(50, 50, 50, .6) url(../images/next.png) no-repeat -16px 50%;
    }
    
    .tip-bg {
        width: 540px;
        height: 66px;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        left: 0;
        bottom: 15px;
        z-index: 12;
    }
    
    #pic ul li {
        position: relative;
        overflow: hidden;
    }
    
    #pic ul li .text {
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 540px;
        height: 66px;
        z-index: 17;
        padding: 0 20px;
    }
    
    #pic ul li .text .title {
        font-size: 18px;
        color: #fff;
        line-height: 40px;
        white-space: nowrap;
        overflow: hidden;
        font-weight: normal;
        text-overflow: ellipsis;
    }
    
    #pic ul li .text .autor {
        color: #fff;
        font-size: 12px;
    }
    
    #pic ul li .text .num {
        float: right;
        font-size: 14px;
        color: #fff;
    }

    .rightdiv{
        position: absolute;
        width: 335px;
        height: 30px;
        z-index: 17;
        padding: 0 20px;
        color: white;
        font-size: 12px;
    }
    .rightdiv .title{
        font-size: 16px;
        font-weight: bold;
        margin-left: 0px;
    }
    .one1{
        top: 235px;
    }
    .two1{
        top: 445px;
    }


    @media (min-width: 993px) and (max-width: 1199px) {
        .focus {
            width: 630px;
        }
        .focus #pic {
            width: 630px;
        }
        .focus #pic li img {
            width: 630px;
        }
    }

    /*ipad*/
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .banner {
            margin: 0;
        }
        .banner-left {
            display: none;
            width: 100%;
        }
        .banner-right {
            float: left;
            width: 100%;
            margin: 0;
            height: auto;
        }
        .banner-right a {
            float: left;
        }
        .banner-right a img {
            width: 348px;
            height: 200px;
            margin: 20px 0 0 0;
        }
        .banner-right .one {
            margin-bottom: 0;
            margin-right: 30px;
        }
        .focus #pic {
            width: 100%;
        }
        .focus #pic li img {
            width: 100%;
        }
    }

    /*mobile*/
    @media screen and (max-width: 767px) {
        .banner {
            margin: 0;
        }
        .banner-left {
            display: none;
            width: 100%;
        }
        .banner-right {
            float: none;
            width: 100%;
            margin: 0;
            display: none;
            height: auto;
        }
        .banner-right a {
            float: left;
            width: 100%;
        }
        .banner-right a img {
            width: 100%;
            height: 200px;
            margin: 20px 0 0 0;
        }
        .banner-right .one {
            margin-bottom: 0;
            margin-right: 0;
        }
        .focus #pic {
            width: 100%;
        }
        .focus #pic li img {
            width: 100%;
        }

        .banner-left {
            height: auto;
        }
        .banner-left .focus {
            display: block;
            margin: 0 auto;
        }
        .banner-left {
            display: block;
        }
    }
    
    @media screen and (min-width: 0px) and (max-width: 400px) {
        .banner {
            margin: 0;
        }

        .banner-left {
            height: auto;
        }
        .banner-left .focus {
            display: block;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            padding: 0;
        }
        .banner-left {
            width: 67%;
        }
        .banner-right {
            width: 33%;
            margin-left: 0;
        }
    }
