/*
* 整体布局
*author ysj
*/

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  padding-top: 70px;
}

ul{
  list-style-type: none;  
}

h1,h2,h3,h4,h5,p{
  word-break:break-word;
}

a , a:focus,a:hover{
  text-decoration: none;
}

.care{
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

/*顶部导航栏*/
.nav_header {
  background-color: #3a5795;
}

.nav_header .nav_bar_ul {
  font-size: 14px;
  color:  #ffffff;
}

.nav_header .nav_bar_ul>li>a {
  color:  #ffffff;
}

.nav_header .nav_bar_ul>li>a:focus {
  color: yellow;
}
.nav_header .nav_bar_ul>.active>a, 
.nav_header .nav_bar_ul>.active>a:focus, 
.nav_header .nav_bar_ul>.active>a:hover {
  color: green;
  background-color: #f5f5f5;
}
/************************顶部banner******************************/

/************************新闻模块标题******************************/
.title_div {
  color: #3a5795;
  margin-bottom: 10px;
}

.title{
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
}

.title_div a, 
.title_div a:focus, 
.title_div a:hover {
  float: right;
  font-size: 14px;
  color: #3a5790;
  margin-right: 0px;
}


/*新闻卡片*/
.news_card {
  display:block;
  padding:4px;
  margin-bottom:20px;
  line-height:1.42857143;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:4px;
  height: 276px;
  -webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out
}
.text_overflow{
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.news_card>a, 
.news_card>a:focus, 
.news_card>a:hover,{
  text-decoration: none;
}

/*图片*/
.news_card .img{
  height: 120px;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center;
}
/*标题*/
.news_card .title{
  font-size: 16px;
  font-weight: 600;
  margin: 15px 20px 10px 20px;
  height: 40px;
  color: #000;
}

/*新闻简介*/
.news_card .content{
  height: 40px;
  margin: 0 10px 5px 10px;
  font-size: 14px;
  color: gray;
}
/*底部标签*/
.news_card .meta {
  border-top:1px solid #eaeaea;
  font-size: 10px;
  padding: 8px 20px;
  color: #999;
  bottom: 0;
  left: 0;
  right: 0;
}

/*************************广告**********************************/
.advert {
  margin-bottom: 20px;
}
/*图片广告*/
.advert_index_image {
  height: 200px;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center;
}

.advert_index_image_a {
  height: 100%;
}

.i-icon, .icon {
    display: inline-block;
    background-image: url(../images/icon.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
.icon-line {
    background-position: -145px -1px;
}
.icon-dp {
  background-position: -170px -173px
}

.icon-like {
  background-position: -220px -173px;
  cursor: pointer
}

.icon-like.active {
  background-position: -220px -223px
}

.icon-no-like {
  background-position: -270px -171px;
  cursor: pointer
}

.icon-no-like.active {
  background-position: -270px -221px;
  cursor: pointer
}

.icon-like-prompt {
  position: absolute;
  opacity: 0;
  margin-top: -13px
}

.icon-no-like-prompt {
  position: absolute;
  opacity: 0;
  margin-left: 33px;
  margin-top: -17px
}

.article-type {
  color: #bbb
}
.article-type ul{
  margin: 0;
  padding: 0;
}

.article-type ul li {
  float: left;
  cursor: pointer
}
.article-type ul li:first-child, .icon-go-back {
    margin-right: 15px;
}

.article-type ul li:first-child:hover .icon-like {
  background-position: -220px -223px
}

.article-type ul li:last-child:hover .icon-no-like {
  background-position: -270px -221px
}

/*加载更多*/

.load_more{
  display: inline-block;
  border: 1px solid #f0f0f0;
  margin-bottom: 60px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.load_more:focus,.load_more:hover{
  color: #bbb;
  background-color: #f0f0f0;
}

/*点赞*/
.Qr-code {
    position: relative;
    padding: 50px 0 0;
    z-index: 100;
    height: 98px;
}

.praise-box {
    text-align: center;
    height: 48px;
    width: 148px;
    border: 1px solid #f6f6f6;
    line-height: 48px;
    color: #bbb;
    cursor: pointer;
}

.praise-box:hover {
  background-color: #f63756;
  border-color: #f63756;
  color: #fff
}

.praise-box.active .icon-article-zan {
  background-position: -362px -400px
}

.praise-box:hover .icon-article-zan {
  background-position: -367px -333px
}

.praise-box.center-box {
    margin: 0 auto;
}

.praise-box-add {
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    color: #333;
    opacity: 0;
}

.article-zan-add {
    height: 48px;
    width: 35px;
    display: inline-block;
}
.icon-article-zan-add {
    background-position: -362px -401px;
}
.icon-article-zan, .icon-article-zan-add {
    height: 46px;
    width: 35px;
    display: inline-block;
}

.icon-article-zan {
    background-position: -367px -267px;
}

.praise-box span {
    position: relative;
    top: -15px;
}

/*评论*/
.pl-wrap{
  margin-top: 90px
}

.span-mark-author {
  border-bottom: 4px solid #f63756;
  position: absolute;
  z-index: 1;
  height: 28px;
  line-height: 20px;
  margin: -28px 0 0;
  font-size: 16px
}

.pl-form-wrap .span-mark-author,.pl-list-wrap .span-mark-author {
  font-size: 18px;
  border: none;
  color: #bbb
}

.dp-box .span-mark-author,.pl-form-wrap .span-mark-author.active,.pl-list-wrap .span-mark-author.active {
  border-bottom: 4px solid #f63756;
  color: #333
}

.dp-box .span-mark-author {
  font-size: 16px
}

.pl-form-wrap .span-mark-author.new,.pl-list-wrap .span-mark-author.new {
  margin-left: 110px!important
}
.pl-form-wrap{
  border-top: 1px solid #f0f0f0;
}

.pl-list-wrap .js-default-new-pl {
  border: none!important;
  margin: -21px 0 0
}

.pl-list-wrap .js-default-new-pl:hover {
  color: #333
}

.pl-form-author {
  margin-top: 30px
}

.author-info {
  margin: 0 0 30px;
  display: inline-block
}

.author-info .author-name,.author-info .time {
  position: relative;
  top: 17px;
  margin-left: 20px
}

.author-info .author-face {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  float: left
}

.author-info .time {
  color: #bbb
}

.pl-form-box {
  margin-top: 10px
}

.btn-article,.sx-form-warp {
  margin-top: 20px
}

.pl-form-box textarea {
  height: 180px;
  border-radius: 0;
  resize: none;
  box-shadow: none;
  border-color: #f0f0f0
}

.btn-article {
  width: 148px;
  height: 48px;
  line-height: 38px;
  color: #fff;
  background-color: #3ca5f6;
  font-size: 18px;
  border-radius: 0;
  margin-bottom: 30px
}

.bind-huxiu,.no-login-box,.pl-loading {
  width: 100%;
  font-size: 18px;
  text-align: center
}

.dp-article-box .btn-article {
  margin-bottom: 5px
}

.btn-article:hover {
  color: #fff;
  background-color: #2f99ea
}

.btn-article:focus {
  color: #fff
}

.no-login-box {
  height: 220px;
  border: 1px solid #f0f0f0;
  background-color: #fafafa;
  margin-top: 40px;
  color: #bbb;
  line-height: 220px
}

.no-login-box a {
  border-bottom: 1px solid #333;
  color: #333;
  cursor: pointer;
  padding-bottom: 5px
}

.no-login-box a:hover {
  color: #3da9f7;
  border-color: #3da9f7
}

.bind-huxiu {
  position: absolute;
  color: #333;
  padding-top: 50px
}

.pl-list-wrap {
  margin-top: 80px;
  position: relative;
  margin-bottom: 60px
}

.pl-list-wrap.pl-detail-list-wrap {
  margin-top: 0
}

.pl-box-wrap {
  padding: 15px 0;
  border-top: 1px solid #f0f0f0
}

.pl-list-wrap .pl-box-wrap {
  position: relative;
  top: 30px
}

.pl-loading {
  position: absolute;
  height: 100%;
  padding-top: 100px;
  color: #999;
  z-index: 10
}

.pl-loading img {
  width: 30px;
  margin-bottom: 20px
}

.pl-box-wrap .dropdown button {
  height: 30px;
  width: 30px;
  border-radius: 0;
  color: #3ca5f6;
  border: 2px solid #f6f6f6
}

.pl-box-wrap .btn-default.active,.pl-box-wrap .btn-default:active,.pl-box-wrap .btn-default:hover,.pl-box-wrap .open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: #3ca5f6;
  border-color: #3ca5f6
}

.pl-box-wrap .dropdown-menu {
  border: none;
  box-shadow: 0 0 15px rgba(18,21,21,.2);
  margin: 10px 0 0;
  text-align: center;
  width: 120px;
  min-width: 10px;
  border-radius: 0
}

.pl-box-wrap .dropdown-menu li {
  color: #bbb;
  font-size: 16px;
  margin: 12px 0;
  cursor: pointer
}

.pl-box-wrap .dropdown-menu li:hover {
  color: #333
}

.pl-box-wrap .pl-content {
  word-break: break-all;
  word-wrap: break-word;
  line-height: 24px
}

.pl-box-wrap .dropdown .btn .caret {
  margin: -6px 0 0 -3px
}

.btm-yl {
  height: 24px;
  width: 50px;
  color: #fff;
  line-height: 24px;
  background: #f63756;
  position: absolute;
  margin-top: -30px;
  text-align: center
}

.pl-box-wrap.active {
  border-top-color: #f63756
}

.pl-detail-box-warp {
  border-top: 1px solid #3ca5f6;
  border-bottom: 1px solid #3ca5f6
}

.pl-box-btm {
  margin-top: 15px
}

.pl-box-btm .pl-form-box {
  display: none
}

.more-pl-box-wrap {
  font-size: 20px;
  color: #bbb;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  line-height: 60px;
  margin-bottom: 70px;
  border: 1px solid #f0f0f0
}

.more-pl-box-wrap:hover {
  background-color: #fafafa;
  border-color: #fafafa
}

/*点评*/
.dp-box {
  padding: 20px;
  background-color: #f6f6f6;
  margin-top: 20px
}

.dp-box:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 15px solid #f6f6f6;
  top: -44px;
  left: 10px
}

.dp-box .dl-user {
  padding-top: 20px;
  border-top: 1px solid #f0f0f0;
  cursor: pointer
}

.dp-box .dp-list-box .dl-user {
  margin-bottom: 30px
}

.dp-box .dl-user q {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  height: 20px;
  line-height: 18px;
  vertical-align: text-bottom;
  padding: 2px 5px;
  background: #0479c4;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
  opacity: .5;
  cursor: pointer
}

.dp-box .dl-user q:before {
  font-family: 'Glyphicons Halflings';
  content: "\e140";
  font-size: 12px;
  margin: 0 5px 0 0
}

.dp-list-box {
  display: none
}

.dl-user ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;

}

.dl-user ul li {
/*  width: 34px;
  height: 34px;*/
  border-radius: 17px;
  float: left;
  overflow: hidden;
  margin-right: 10px
}

.one-pl-content {
  margin: -25px 0 0 50px;
  cursor: auto;
  word-wrap: break-word
}

.one-pl-content .name {
  color: #bbb
}

.one-pl-content .time {
  color: #ccc
}

.one-pl-content .content {
  margin-right: 120px
}

.one-pl-content .dp-reply-box,.one-pl-content .js-hf-article-pl {
  margin: 20px 20px 9px 0;
  cursor: pointer;
  color: #bbb
}

.one-pl-content .dp-reply-box:hover,.one-pl-content .js-hf-article-pl:hover {
  color: #333
}

.one-pl-content .hu-pl-box {
  margin-top: 20px;
  display: none
}

.one-pl-content .hu-pl-box textarea {
  height: 120px
}

.one-pl-content .dropdown {
  position: absolute;
  display: inline-block;
  margin: -30px 0 29px 50px;
  right: 20px
}

.one-pl-content .dropdown button {
  border-color: #eee;
  background-color: #fff;
  width: 22px;
  height: 22px
}

.one-pl-content .dropdown .btn {
  padding: 0
}

.one-pl-content .dropdown .btn .caret {
  margin: -3px 0 0
}

.span-mark-article-pl {
  float: right;
  right: 0;
  margin-top: -30px;
  color: #bbb;
  font-size: 16px;
  cursor: pointer
}

.span-mark-article-pl:hover {
  color: #333
}

.close-dp-list-box {
  height: 60px;
  background-color: #f6f6f6;
  color: #bbb;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  margin: 0 -20px -20px;
  border-top: 1px solid #f0f0f0
}

.close-dp-list-box:hover {
  background-color: #f0f0f0;
  color: #bbb
}

.pl-detail-box-warp .close-dp-list-box {
  width: 910px
}

.article-list-box {
  padding: 30px 0;
  border-top: 1px solid #f0f0f0
}

.article-box {
  width: 220px;
  height: 203px;
  border: 1px solid #f0f0f0;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px
}

.article-box:nth-child(3n) {
  margin-right: 0
}

.article-box:hover {
  box-shadow: 0 5px 8px rgba(45,50,55,.2);
  margin-top: -2px;
  border-color: rgba(45,50,55,.2);
  margin-bottom: 27px
}

.article-box img {
  width: 100%;
  height: 124px
}

.article-box .article-title {
  padding: 15px 20px 0;
  font-size: 16px;
  line-height: 24px
}


/*自适应布局*/

/*普通*/
@media (min-width: 1200px) {
  body {
    padding-bottom: 60px;
  }
    .container {
        width: 1000px;
        padding: 0;
    }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 992px) {
    body {
        padding-bottom: 60px;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }
}

 /*mobile*/
@media only screen and (max-width: 767px) {
    body {
        padding-bottom: 20px;
    }

    .container {
        width: 100%;
        padding: 0;
    }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    body {
        padding-bottom: 20px;
    } 
}