/*
* 返回顶部
*author ysj
*/
.share-warp .share-exp a {
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin-bottom:2px;
	text-decoration:none;
	outline:0;
	font-size:14px;
	color:#fff;
	background:#c9c9c9
}
.share-warp .share-exp a:hover .w-txt {
	background:#e82354;
	display:block
}
@media(min-width:1200px) and (max-width:1680px) {
	#share-warp {
		position:fixed;
		display:block;
		bottom:50px;
		right:10%;
		z-index:100
	}
}
@media screen and (min-width:1680px) and (max-width:1920px) {
	#share-warp {
		position:fixed;
		display:block;
		bottom:50px;
		right:20%;
		z-index:100
	}
}
@media(max-width:400px) {
	.top-nav .login .user-info a {
		color:#7c7c7c;
		padding:0 5px
	}
	.top-nav .login {
		padding:10px
	}
	.pro-search-num ul li {
			margin:0 1px
	}
}
@media(min-width:992px) {
	.header-heima .navbar-toggle {
		display:none
	}
	.top-nav {
		display:none
	}
}
@media(max-width:992px) {
	.top-nav {
	width:36%;
	left:-36%
}
.header-top-wrap,.header-logo .logo,.header-logo .write,.header-logo .search {
	display:none
}
.header-heima {
	width:100%;
	height:45px;
	border-bottom:solid 1px #eaeaea
}
.header-heima .navbar-header {
	display:block;
	background:#fff;
	height:45px;
	border-bottom:solid 1px #eaeaea
}
.footer {
	display:none
}
.footer_left {
	text-align:center
}
.footer_right {
	display:none
}
.footer-links {
	margin:0 auto;
	width:310px
}
.top-nav .login .portrait-wrap img {
	width:80px;
	height:80px;
	vertical-align:middle;
	border-radius:40px
}
.ihm-warp {
	background:0;
	border:0;
	top:0
}
.header-logo {
	padding:0
}
.ihm-warp {
	position:relative
}
#share-warp {
	position:fixed;
	display:block;
	bottom:50px;
	right:1%;
	z-index:100
}
}@media(min-width:992px) and (max-width:1200px) {
	#share-warp {
	position:fixed;
	display:block;
	bottom:50px;
	right:1%;
	z-index:100
}

#share-warp {
	position:fixed;
	display:block;
	bottom:50px;
	right:0;
	z-index:100
}

#share-warp {
	display:none!important
}
.footer_left .links {
	margin:20px 0
}
}.share-warp .share-exp .w-gotop {
	display:none;
	background:#c9c9c9 url(../images/right_icon.png) no-repeat 8px 14px
}
.share-warp .share-exp .w-gotop:hover {
	background:#e82354 url(../images/right_icon.png) no-repeat 8px 14px
}
.share-warp .share-exp .w-sub {
	background:#c9c9c9 url(../images/right_icon.png) no-repeat 8px -28px
}
.share-warp .share-exp .w-rss {
	background:#c9c9c9 url(../images/right_icon.png) no-repeat 8px -69px
}
.share-warp .share-exp .w-client {
	background:#c9c9c9 url(../images/right_icon.png) no-repeat 8px -111px
}
.share-warp .share-exp .w-txt {
	display:none
}
.w-client .w-txt {
	font-size:12px
}
.header-container-wrap {
	-moz-transition:-moz-transform .2s ease 0;
	-webkit-transition:-webkit-transform .2s ease;
	-webkit-transition-delay:0;
	transition:transform .2s ease 0;
	-webkit-backface-visibility:hidden;
	display:block;
	height:100%;
	left:0;
	overflow:hidden;
	position:relative;
	top:0;
	z-index:2
}
.open {
	-moz-transition:-moz-transform .2s ease .15s;
	-webkit-transition:-webkit-transform .2s ease;
	-webkit-transition-delay:.15s;
	transition:transform .2s ease .15s;
/*	-moz-transform:translate3d(75%,0,0);
	-webkit-transform:translate3d(75%,0,0);
	transform:translate3d(75%,0,0);*/
	position:fixed
}
.top-nav {
	-moz-transform:translate3d(0,0,0);
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-moz-transition:opacity 0 ease .35s;
	-webkit-transition:opacity 0 ease;
	-webkit-transition-delay:.35s;
	transition:opacity 0 ease .35s;
	display:none;
	height:100%;
	left:0;
	opacity:0;
	position:absolute;
	top:0;
	width:75%;
	background:#313232
}
.open-left {
	-moz-transition:opacity 0 linear 0;
	-webkit-transition:opacity 0 linear;
	-webkit-transition-delay:0;
	transition:opacity 0 linear 0;
	opacity:1;
	display:block;
	position:fixed;
	overflow-y:scroll;
	z-index:10000
}