<template name="indexContainer">
	 <!-- 主体 start-->
    <!-- <div class="container"> -->
    	<!-- 顶部数据 -->
    	<!-- {{#with bannerData}}
    		{{> UI.dynamic template = this.containerTemplate}}
    	{{/with}} -->
		<!-- 新闻类型列表 -->
		<!-- {{#each typeNewsList}} -->
			<!-- {{> UI.dynamic template = this.containerTemplate}}
		{{/each}} -->
    <!-- </div> -->

    <!-- 主体 start-->
    <div id="main">
        {{> mainLeft}}
        {{> mainRight}}
    </div>
    <script type="text/javascript" src="../../js/common.js"></script>

</template> 