<template name="contentBoxListParise">
    <script type="text/javascript" src="../../js/icheck.min.js"></script>
    <div class="content-box">
        <div class="title-box">
            <h2>我的点赞</h2>
        </div>
        <div class="new-form tab">
            <div class="row">
                <div class="col-md-12 panel-default">
                    <div class="content-box-large box-with-header">
                        <div class="panel-body">
                            {{> userParise}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="userParise">
    <div id="table" class="controls table-responsive">
        {{> reactiveTable class="table table-striped table-bordered table-hover " collection=tables settings=tableSettings}}
    </div>
</template>