<template name="contentBox">
    <script type="text/javascript" src="/js/icheck.min.js"></script>
    <div class="content-box">
        <div class="title-box">
            <h2>新闻信息登入</h2>
        </div>
        <div class="new-form tab">
            <form   method="post" id="news_info_add_F">
                {{#if currentUser}}
                    <input type="hidden" id="attribute" value="{{#with currentUser}}{{_id}}{{/with}}"/>
                {{/if}}
                <div class="must clear"><span>标    题</span>
                    <input type="text" name="title" class="pub-input" id="title" value="" required/>
                </div>
                <div class="must clear"><span>副标题</span>
                    <input type="text" name="subheading" class="pub-input" id="secondTitle" value="" />
                </div>
                <div class="must clear"><span>简    介</span>
                    <input type="text" name="synopsis" class="pub-input" id="introduce" value="" required/>
                </div>
                <div style="background-color: #eee;border: 1px solid #d2d2d2">
                        <h2 style="font-size: 18px;padding-left: 15px;padding-top: 10px"> 正    文</h2><br>
                        <textarea name="content" id="content" class="form-control " required></textarea>
                </div>

            <!--     <div class="tags">
                    <ul>
                        <li><strong>标签</strong></li>
                        {{> tagShow}}
                    </ul>
                </div> -->
                
                <div class="title" >类型
                </div>
                {{> typeShow }}

                <!-- <div class="not-must clear mb15">
                    <dl class="seleDl">
                        <dt><strong>排序规则</strong></dt>
                        <dd>
                            <select  id="showRule" name="showRule">
                                <option value="1">1: 正常</option>
                                <option value="2">2: 置顶</option>
                                <option value="3">3: 不显示</option>
                                <option value="4">4: 推荐</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="seleDl">
                        <dt><strong>语言</strong></dt>
                        <dd>
                            <select id="language" name="language">
                                <option value="0">0：日文</option>
                                <option value="1">1：中文</option>
                            </select>
                        </dd>
                    </dl>
                    <dl class="seleDl">
                        <dt><strong>版      权</strong></dt>
                        <dd>
                            <select id="copyright" name="copyright">
                                <option value="1">1：系统</option>
                                <option value="2">2：复制</option>
                            </select>
                        </dd>
                    </dl>
                </div> -->
               <!--  <div class="must clear"><span>关键字</span>
                    <input type="text" name="keyword" class="pub-input" id="keyWord" value="" />
                </div>
                <div class="not-must"><span>原文链接</span>
                    <input type="text" name="link" class="pub-input" id="originURL" value="" />
                </div>
                <div class="not-must clear mb15">
                    <div class="not-must"><span>作  者</span>
                        <input type="text" name="link" class="pub-input" id="author" value="" />
                    </div>
                </div> -->

                {{> uploadFormFront}}

                <div class="btn-list">
                    <button type="submit" class="bg-red" >发  布</button>
                    <!--<button type="submit" id="save" class="bg-yellow">暂  存</button>-->
                    <button type="reset" class="bg-green" >重  置</button>
                </div>
            </form>
        </div>
    </div>

</template>