<template name="leftMenu">
<div id="main-content">
    <div class="left-menu">
        <div class="user-info"> <i class="gender-img"><img src="../../admin/img/ico_woman.png"></i>
            {{#if centerUsers}}
                <p><span class="user-name">{{#with centerUsers}}{{name}}{{/with}}</span><span class="user-gender">用户</span></p>
                <input type="hidden" id="attribute" value="{{#with centerUsers}}{{_id}}{{/with}}"/>
            {{else}}
                <p><a class="login" href="{{pathFor 'login'}}"><span class="user-gender" style="color: white;font-size: 25px;">登陆</span></a></p>
            {{/if}}


        </div>
        <div class="list-menu">
            <ul class="nav">
                <li class="submenu open"> <a href="javascript:;"> <i class="fa fa-file-text-o"></i> 我的动态 <span class="caret pull-right"></span> </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="{{pathFor 'contentBoxListNews'}}"><i class="fa fa-comments-o"></i>我发布的新闻</a> </li>
                        <li><a href="{{pathFor 'contentBoxListEvaluation'}}"><i class="fa fa-pie-chart"></i>我的评论列表</a></li>
                        <li><a href="{{pathFor 'contentBoxListParise'}}"><i class="fa fa-calendar"></i>我的点赞列表</a></li>
                        <li><a href="{{pathFor 'frontAdList'}}"><i class="fa fa-newspaper-o"></i>我的广告列表</a></li>
                    </ul>
                </li>
                <li class="submenu"> <a href="javascript:;"> <i class="fa fa-hourglass-2"></i> 发布信息<span class="caret pull-right"></span> </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="{{pathFor 'contentBox'}}"> 添加新闻情報</a></li>
                        <li><a href="{{pathFor 'frontAdInfoAdd'}}"> 添加广告情報</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="classes-list">
                <!--<li><a href="#">用户</a></li>-->
                <!--<li><a href="#">安全</a></li>-->
                <!--<li><a href="#">顾客</a></li>-->
            </ul>
        </div>
    </div>
</div>

</template>