<template name="leftMenu">
    <div class="left-menu">
        <div class="user-info"> <i class="gender-img"><img src="../admin/img/ico_woman.png"></i>
            <p><span class="user-name">X X X</span><span class="user-gender">女士</span></p>
        </div>
        <div class="list-menu">
            <ul class="nav">
                <li class="submenu open"> <a href="javascript:;"> <i class="fa fa-file-text-o"></i> 新闻模块 <span class="caret pull-right"></span> </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><span>21</span><a href="#"><i class="fa fa-comments-o"></i>新闻情报</a> </li>
                        <li><span>21</span><a href="#"><i class="fa fa-pie-chart"></i>新闻类型</a></li>
                        <li><span>21</span><a href="#"><i class="fa fa-calendar"></i>新闻标签</a></li>
                    </ul>
                </li>
                <li class="submenu"> <a href="javascript:;"> <i class="fa fa-hourglass-2"></i> 广告模块 <span class="caret pull-right"></span> </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="#"> 广告情報</a></li>
                    </ul>
                </li>
                <li class="submenu"> <a href="javascript:;"> <i class="fa fa-cogs"></i> 管理模块 <span class="caret pull-right"></span> </a>
                    <!-- Sub menu -->
                    <ul>
                        <li><a href="#">后台用户</a></li>
                        <li><a href="#">广告投放管理</a></li>
                        <li><a href="#">首页－banner排版</a></li>
                        <li><a href="#">首页-模块排版</a></li>
                        <li><a href="#">二级列表右侧排版</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="classes-list">
                <li><a href="#">用户</a></li>
                <li><a href="#">安全</a></li>
                <li><a href="#">顾客</a></li>
            </ul>
        </div>
    </div>
</template>