<!-- 模块模板 -->
<template name="listRightModalManageCell">

	<div class="well well-lg">
		<!-- 模块信息 -->
		<div class="cell-box">
			<!-- 模板信息 -->
			<div class="cell-brief"  style="display: block;">
	            <div class="number">

	            </div>
	            <div class="title">
	            	<p>
	            		<span>标题:</span>
	            		{{typeShowName}}
	            		
	            	</p>
	            </div>
	            <div class="but">
	            	<button type="button" class="btn btn-success js-modal-info-bt">基本信息</button>
	            	<button type="button" class="btn btn-success js-modal-list-bt">内容列表</button>
	            	<button type="button" data-id="{{_id._str}}" data-sort="{{showRule}}"
	            	 class="btn btn-success js-modal-up-bt">上升
	            	</button>
	            	<button type="button" data-id="{{_id._str}}" data-sort="{{showRule}}"
	            	 class="btn btn-success js-modal-down-bt">下降
	            	</button>
	            	<button type="button" data-id="{{_id._str}}" class="btn btn-danger js-delete">删除</button>
	            </div>
	        </div>

		</div>

		<!-- 模块信息 -->
		{{> modalInfoEditTemplate}}

		<!-- 新闻列表 -->
		{{> modalManageNewsList}}

	</div>
</template>
