<!-- 首页新闻模块管理 -->
<template name="listRightModalManage">
	<div class="row-fluid">
		<!-- block -->
		<div class="block" style="min-height:400px;">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">二级列表右侧模块管理</div>
				<div style="float:right !important;padding: 0px;">
					<button type="button" class="btn btn-success js-add-modal-info-bt">添加</button>
				</div>
			</div>

			<!-- 内容 -->
			<div class="block-content collapse in">	
			{{#each listData}}
				{{>listRightModalManageCell}}
			{{/each}}
			</div>
			<!-- 内容end -->

			<!-- 基本添加模板 -->
			{{> modalInfoAddTemplate parentTempType="secondlistmodal"}}

		</div>
	</div>
</template>