<template name="frontAdList">
    <script type="text/javascript" src="/js/icheck.min.js"></script>
    <div class="content-box">
        <div class="title-box">
            <h2>我的广告</h2>
        </div>
        <div class="new-form tab">
            <div class="row">
                <div class="col-md-12 panel-default">
                    <div class="content-box-large box-with-header">
                        <div class="panel-body">
                            {{> userAd}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="userAd">
    {{#if isEmptyCol tables}}
        <p>您未发表过广告</p>
    {{else}}
        <div id="table" class="controls table-responsive">
            {{> reactiveTable class="table table-striped table-bordered table-hover " collection=tables settings=tableSettings}}
        </div>
    {{/if}}
</template>