<template name="frontAdView">
    {{#if leagueIs "1"}}
        {{>adtemplate11}}
    {{/if}}
    {{#if leagueIs "2"}}
        {{>adtemplate12}}
    {{/if}}
    {{#if leagueIs "3"}}
        {{>adtemplate13}}
    {{/if}}
</template>

<!--买卖模板-->
<template name="adtemplate11">
    <div class="page-content">
        <div class="lb-img">
            <div class="banner">
                <ul class="bxslider" id="picture">

                </ul>
            </div>
        </div>
        <div class="content-copy">
            <h1>{{title}}</h1>
            <div class="ico-trianle">
            </div>

            <div class="rows clearfix">
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>租金</span>{{price}}</li>
                            <li><span>公寓</span>{{apartment}}</li>
                            <li><span>戸型</span>{{roomType}}</li>
                        </ul>
                    </div>
                </div>
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>押金</span>{{deposit}}</li>
                            <li><span>礼金</span>{{giftMoney}}</li>
                            <li><span>管理費</span>{{kanrihi}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>地址</span>{{address}}</li>
                            <li><span>交通</span>{{traffic}}</li>
                            <li><span>联系电话</span>{{contactPhone}}</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="rows clearfix">
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>建造年</span>{{buildYear}}</li>
                            <li><span>楼高</span>{{buildingHigh}}</li>
                        </ul>
                    </div>
                </div>
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>面積</span>{{houseArea}}</li>
                            <li><span>朝向</span>{{orientation}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>建築材料</span>{{buildingMaterial}}</li>
                            <li><span>周辺環境</span>{{environment}}</li>
                            <li><span>設備・条件</span>{{condition}}</li>
                            <li><span>編号</span>xxxxxx</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow" id="contentarea">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
</template>

<!--租赁模板-->
<template name="adtemplate12">
    <div class="page-content">
        <div class="lb-img">
            <div class="banner">
                <ul class="bxslider" id="picture">

                </ul>
            </div>
        </div>
        <div class="content-copy">
            <h1>{{title}}</h1>
            <div class="ico-trianle">
            </div>

            <div class="rows clearfix">
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>租金</span>{{price}}</li>
                            <li><span>公寓</span>{{apartment}}</li>
                            <li><span>戸型</span>{{roomType}}</li>
                        </ul>
                    </div>
                </div>
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>押金</span>{{deposit}}</li>
                            <li><span>礼金</span>{{giftMoney}}</li>
                            <li><span>管理費</span>{{kanrihi}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>地址</span>{{address}}</li>
                            <li><span>交通</span>{{traffic}}</li>
                            <li><span>联系电话</span>{{contactPhone}}</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="rows clearfix">
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>建造年</span>{{buildYear}}</li>
                            <li><span>楼高</span>{{buildingHigh}}</li>
                        </ul>
                    </div>
                </div>
                <div class="rows-left">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>面積</span>{{houseArea}}</li>
                            <li><span>朝向</span>{{orientation}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>建築材料</span>{{buildingMaterial}}</li>
                            <li><span>周辺環境</span>{{environment}}</li>
                            <li><span>設備・条件</span>{{condition}}</li>
                            <li><span>編号</span>xxxxxx</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow" id="contentarea">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
</template>
<!--自定义模板-->
<template name="adtemplate13">
    <div class="page-content">
        <div class="img"><img src="/img/recruitment-pc_03.jpg" /></div>
        <div class="content-copy">
            <div class="rows clearfix">
                <div class="rows-left">
                    <div class="content-layer">
                        <h2 class="company-h2">公司介绍：</h2>
                        <div class="company-detail" id="companyIntroduce">
                            {{companyIntroduce}}
                        </div>

                    </div>
                </div>
                <div class="rows-left">
                    <div class="content-layer">
                        <div class="lb-img">
                            <ul class="bxslider" id="picture">
                                <!--<li><img src="img/recruitment-pc_07.jpg" /></li>-->
                                <!--<li><img src="img/3.jpg" /></li>-->
                                <!--<li><img src="img/4.jpg" /></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="company-h2">职位描述：</h2>
            <div class="ico-trianle"></div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>职位名称：</span>{{position}}</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>岗位职责：</span></li>
                            {{#each duty}}
                                <li><span>{{indexAddOne @index}}.</span>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>任职要求：</span></li>
                            {{#each requirement}}
                                <li><span>{{indexAddOne @index}}.</span>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rows">
                <div class="rows-single">
                    <div class="content-layer box-shadow">
                        <ul class="list-house">
                            <li><span>福利待遇：</span></li>
                            {{#each weal}}
                                <li><span>{{indexAddOne @index}}.</span>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <!--<h2 class="company-h2">其他职位介绍：</h2>-->
            <!--<div class="rows">-->
                <!--<div class="rows-single">-->
                    <!--<div class="pub-wrapper">-->
                        <!--<div class="pub-scroller">-->
                            <!--<ul>-->
                                <!--<li><img src="img/recruitment-pc_11-02.jpg" /><span>XXXXXXXXXXXXXXXXXX<br />XXXXXXXXXXXXX</span></li>-->
                                <!--<li><img src="img/recruitment-pc_11-03.jpg" /><span>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></li>-->
                                <!--<li><img src="img/recruitment-pc_11.jpg" /><span>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</template>