<!-- 模块基本信息修改 -->
<template name="modalInfoEditTemplate">
	<!-- 模块信息 -->
		<div class="modal-box js-modal-info" style="display:none;">
			<header>
          		<span>模块信息</span>
      		</header>

			<!-- 模块详情 -->
			<form class="form-horizontal detail">
				<fieldset id="detail_{{_id._str}}_box" data-temptype="{{parentTempType}}" data-id="{{_id._str}}">


					<div class="control-group">
						<label class="control-label ">
							<span class="required">* </span>模板
						</label>
						<div class="controls">
							<select class="span4 form-control " name="tempname">
								{{#if isIndexManage}}
								<option {{isTempSelect "0"}} value="0">未选择</option>
								<option {{isTempSelect "typeContainerColumn21"}} value="typeContainerColumn21">新闻列表</option>
								<option {{isTempSelect "indexHouseAdvOne"}} value="indexHouseAdvOne">房屋广告</option>
								<option {{isTempSelect "indexRecruitmentAdvList"}} value="indexRecruitmentAdvList">人才招聘</option>
								{{else}}
								<option value="recommendRightContainer">列表</option>
								{{/if}}
							</select>
						</div>
					</div>
				{{#if isIndexManage}}
					<div class="control-group">
						<label class="control-label ">
							<span class="required">* </span>是否显示更多
						</label>
						<div class="controls">
							<input {{isMoreCheck}} name="isshowmore" type="radio" value="1"/>　显示　
							<input {{isNotMoreCheck}} name="isshowmore" type="radio" value="2" />　不显示　
						</div>
					</div>

					<div class="control-group"
					style="{{#if isShowMoreDiv}}display:block;{{else}}display:none;{{/if}}">
						<label class="control-label ">
							<span class="required">* </span>更多类型
						</label>
						<div class="controls">
							<select class="span4 form-control" name="moretype">
								<option value="0">未选择</option>
								{{#if isShowMoreDiv}}
									{{>sysTypeListSelectOption selectval=this.typeID._str}}
								{{else}}
									{{>sysTypeListSelectOption }}
								{{/if}}

							</select>
						</div>
					</div>
				{{/if}}
					<div class="control-group">
						<label class="control-label ">
							<span class="required">* </span>标题
						</label>
						<div class="controls">
							<input type="text" name="typeshowname" value="{{typeShowName}}" class="form-control" />
						</div>
					</div>

					<div class="control-group previewbtn">
						<div class="controls">
							<button class="btn btn-success js-modal-info-save-bt" >保存</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
</template>