<!-- 模块管理-新闻列表 -->
<template name="modalManageNewsList">
	<!-- 新闻列表 -->
	<div id="{{this._id._str}}" class="modal-box js-modal-list" style="display:none;">
		<header>
			<span>内容列表</span>
			<div style="float:right !important;">
				<button type="button" class="btn btn-primary js-add-banner-box">添加</button>
			</div>
		</header>
		{{#each listData}}
			{{> modalManageNewsListCell}}
		{{/each}}

		 <!-- 添加内容框 -->
	    {{> modalNewsAddTemplate modalID=this._id parentTempType=this.parentTempType }}
	</div>

</template>
