<template name="forgotPassword">

    <form action="/user/forgotpassword" id="forgotPasswordForm" method="post">
        <div class="login-box">
            <div class="ordinary-login">
                <ul class="tab-box">
                    <li style="width:480px;" class="active findpwd" data-type="login">找回密码</li>
                </ul>
                <div class="login-form-box">
                    <div class="login">
                        <!--登录-->
                        <div class="form-group">
                            <input id="forgotPasswordEmail" name="email" type="text" class="login-input" placeholder="邮箱">
                        </div>
                        <div id="forgot_error" class="error-msg hide">请输入邮箱</div>
                        <div class="form-group">
                            <button type="submit" class="btn-login js-moder-lgnbtn js-ga-login" data-login="zhengchang">发送邮件</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end #forgot-password-form -->

</template>

<template name="resetPassword">

    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">

        <div class="login-box">
            <div class="ordinary-login">
                <ul class="tab-box">
                    <li style="width:480px;" class="active findpwd" data-type="login">重置密码</li>
                </ul>
                <div class="login-form-box">
                    <div class="login">
                         <div class="form-group">
                            <input id="resetPasswordPassword" class="login-input"  type="password" placeholder="新密码">
                        </div>
                        <div class="form-group">
                            <input id="resetPasswordPasswordConfirm" class="login-input" type="password" placeholder="确认密码">
                        </div>

                        <div id="rset_error" class="error-msg hide">重置密码</div>
                        <div class="form-group">
                            <button type="submit" class="btn-login js-register-submit">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <!-- end #reset-password-form -->
    {{else}}
        {{> forgotPassword}}
    {{/if}}

</template>