<template name="bannerSlideCell">
	<li style="display: none;">
	    <a href="#" target="_blank">
	        <img src="{{getImagePathByID imageID}}" alt="{{introduce}}" title="{{title}}">
	        <div class="text">
	            <div class="title">{{title}}</div>
	            <span class="autor">作者：
	              <span>{{author}}</span>
	              <span class="num">
	                (<span class="pageState"><span>3</span>/3</span>)
	              </span>
	            </span>
	        </div>
	    </a>
    </li>
</template>