<template name="mainRight">
    <div class="main-right">
        <div class="details society">
            <h2><span><a href="#">更多...</a></span><i></i>社会人文</h2>
            <div class="row">
                <div class="row-left">
                    <div class="card">
                        <a href="#">
                            <div class="img" style="background-image:url(img/info7.jpg);">
                            </div>
                        </a>
                        <div class="info">
                            <h3>广东落马官员庭审自辩：<span>女儿特立独行收钱坑爹</span></h3>
                            <p>该案于3月14日上午在广州市中级法院开审，张小庄否认全部指控，他只承认曾拜托...</p>
                        </div>
                        <div class="share soci">
                            <ul>
                                <li class="look"><a href="#"><i></i>124</a></li>
                                <li class="WeChat"><a href="#"><i></i></a></li>
                                <li class="webo"><a href="#"><i></i></a></li>
                                <li class="new"><a href="#"><i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-left">
                    <div class="card">
                        <a href="#">
                            <div class="img" style="background-image:url(img/info8.jpg);">
                            </div>
                        </a>
                        <div class="info">
                            <h3>猴子也得花粉过敏？ <span>淡路岛猴子郁闷过春天</span></h3>
                            <p>春天的脚步离淡路岛越来越近了。对于生活在兵库县洲本市淡路岛猴子中心的一些...</p>
                        </div>
                        <div class="share soci">
                            <ul>
                                <li class="look"><a href="#"><i></i>124</a></li>
                                <li class="WeChat"><a href="#"><i></i></a></li>
                                <li class="webo"><a href="#"><i></i></a></li>
                                <li class="new"><a href="#"><i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="banner"><img src="img/banner.jpg">
            <div class="title">天皇皇后心系地震灾区<span>前往福岛村落慰问</span></div>
            <div class="banner-details">
                <div class="news"><a href="#">实 事</a></div>
                <p>16日，天皇、皇后两陛下造访了位于福岛县三春町的葛尾村公所三春办事处，与生...</p>

            </div>
        </div>
        <div class="details society">
            <div class="row">
                <div class="row-left">
                    <div class="card">
                        <a href="#">
                            <div class="img" style="background-image:url(img/info5.jpg);">
                            </div>
                        </a>
                        <div class="info">
                            <h3>广东落马官员庭审自辩：<span>女儿特立独行收钱坑爹</span></h3>
                            <p>该案于3月14日上午在广州市中级法院开审，张小庄否认全部指控，他只承认曾拜托...</p>
                        </div>
                        <div class="share soci">
                            <ul>
                                <li class="look"><a href="#"><i></i>124</a></li>
                                <li class="WeChat"><a href="#"><i></i></a></li>
                                <li class="webo"><a href="#"><i></i></a></li>
                                <li class="new"><a href="#"><i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-left">
                    <div class="card">
                        <a href="#">
                            <div class="img" style="background-image:url(img/info6.jpg);">
                            </div>
                        </a>
                        <div class="info">
                            <h3>猴子也得花粉过敏？ <span>淡路岛猴子郁闷过春天</span></h3>
                            <p>春天的脚步离淡路岛越来越近了。对于生活在兵库县洲本市淡路岛猴子中心的一些...</p>
                        </div>
                        <div class="share soci">
                            <ul>
                                <li class="look"><a href="#"><i></i>124</a></li>
                                <li class="WeChat"><a href="#"><i></i></a></li>
                                <li class="webo"><a href="#"><i></i></a></li>
                                <li class="new"><a href="#"><i></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="details">
            <div class="row">
                <div class="row-left p-0-10">
                    <div class="bring-in">
                        <div class="title"><i></i>人才招聘</div>
                        <div class="list">
                            <ul>
                                <li><a href="#"><img src="img/list_01.jpg"><p>秋田市于9日清晨观测到今年发生在全日本范围内的首场黄沙...<span><i class="fa fa-heart"></i>25 Likes</span></p></a></li>
                                <li><a href="#"><img src="img/list_02.jpg"><p>秋田市于9日清晨观测到今年发生在全日本范围内的首场黄沙...<span><i class="fa fa-heart"></i>25 Likes</span></p></a></li>
                                <li><a href="#"><img src="img/list_03.jpg"><p>秋田市于9日清晨观测到今年发生在全日本范围内的首场黄沙...<span><i class="fa fa-heart"></i>25 Likes</span></p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-left p-0-10">
                    <div class="login-tools">
                        <div class="title">
                            <ul>
                                <li class="user"><a href="#"><i></i></a></li>
                                <li class="date on"><a href="#"><i></i></a></li>
                                <li class="discuss"><a href="#"><i></i></a></li>
                                <li class="found"><a href="#"><i></i></a></li>
                            </ul>
                        </div>
                        <div class="listBox">
                            <form action="/search" method="get" role="search">
                                <div class="login-input"><span class="user"></span><input type="text" id="login-user" value=""></div>
                                <div class="login-input"><span class="password"></span><input type="password" id="" value=""></div>
                                <div class="login-input onbor"><button>注 册</button></div>
                                <div class="login-input onbor"><p>会员登录</p></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="details">
            <div class="row">
                <div class="fotter-share">
                    <ul>
                        <li><a href="javascript:;"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-pinterest-p dark-blue"></i><span>pinterest</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-facebook"></i><span>facebook</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-linkedin dark-blue"></i><span>linkedin</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-vimeo"></i><span>vimeo</span></a></li>
                        <li><a href="javascript:;"><i class="fa fa-google dark-blue"></i><span>google+</span></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</template>