<!-- 新闻页签 -->
<template name="newsGridCell31">
	<!-- 卡片布局 -->
  	<div class="col-sm-6 col-md-4">
        <!-- 新闻卡片 -->
        <div class="news_card">
          	<a href="{{pathFor 'newsDetail' id=this._id._str}}">
              <!-- 新闻图片 -->
                <div class="img" style="background-image:url({{getImagePathByID imageid}});"></div>
              <!-- 新闻标题 -->
              <div class="title">{{title}}</div>
            </a>
          	<!-- 新闻简介 -->
            <div class="content text_overflow">
            	<p>{{introduce}}</p>
            </div>

          	<!-- 新闻标注 -->
          	<div class="meta">
              {{#each tagObj}}
            	   <span>{{tagName}}</span>
              {{/each}}
          	
            </div>
        </div>
    </div>
    <!-- 卡片布局 end-->
</template>



<template name="newsGridCell3">
        <div class="row-left">
            <!-- 新闻卡片 -->
            <div class="card">
                <a href="{{pathFor 'newsDetail' id=this._id._str}}">
                    <div class="img" style="background-image:url({{getImagePathByID imageid}});">
                    </div>
                </a>
                <div class="info">
                    <h3>{{title}}</h3>
                    <p>{{introduce}}</p>
                </div>
                <div class="share finan11">
                    <div id="ckepop">
                        <ul>
                            <li class="look"><a href="#"><i></i>124</a></li>
                            <li class="WeChat"><a  href="http://www.jiathis.com/send/?webid=weixin&url=http://192.168.0.101:3000{{pathFor 'newsDetail' id=this._id._str}}"><i></i></a></li>
                            <li class="webo"><a  href="http://www.jiathis.com/send/?webid=tsina&url=http://192.168.0.101:3000{{pathFor 'newsDetail' id=this._id._str}}"><i></i></a></li>
                            <li class="new"><a href="#"><i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 卡片布局 end-->
        </div>
 </template>


