<!-- 新闻页签形式显示，每行显示３个 -->
<template name="newsGridTemplate31">
	<!-- 标题ｄｉｖ -->
	<div class="title_div">
        <span class="title">{{typeShowName}}</span>
        <a href="{{pathFor 'second' typeID=this.typeID._str}}">更多</a>
	</div>
	<!-- 新闻内容列表 -->
	<div class="well well-lg">
        <div class="row">
        {{#each listNews}}
        	{{>newsGridCell3}}
        {{/each}}
        </div>
    </div>
</template>

<template name="newsGridTemplate3">
        <div class="details financial">
            <h2><span><a href="{{pathFor 'second' typeID=this.typeID._str}}">更多...</a></span><i></i>{{typeShowName}}</h2>
            <div class="row">
                {{#each listNews}}
                    {{>newsGridCell3}}
                {{/each}}
            </div>
        </div>
</template>