<!-- 模块模板 -->
<template name="indexModalManageCell">

	<div class="well well-lg js-slidediv">
		<!-- 模块信息 -->
		<div class="cell-box">
			<!-- 模板信息 -->
			<div class="cell-brief"  style="display: block;">
	            <div class="number">

	            </div>
	            <div class="title">
	            	<p>
	            		<span>标题:</span>
	            		{{typeShowName}}

	            		<i class="icom icom-line"></i>
	            		<span>指定类型:</span>
	            		{{typeShowName}}

						<i class="icom icom-line"></i>
	            	</p>
	            </div>
	            <div class="but">
	            	<button type="button" class="btn btn-success js-modal-info-bt">基本信息</button>
	            	<button type="button" class="btn btn-success js-modal-list-bt">内容列表</button>
	            	<button type="button" data-id="{{_id._str}}" class="btn btn-danger js-delete">删除</button>
	            </div>
	        </div>

		</div>

		<!-- 模块信息 -->
		<div class="modal-box js-modal-info" style="display:none;">
			<header>
          		<span>模块信息</span>
      		</header>

			<!-- 模块详情 -->
			<form class="form-horizontal detail">
				<fieldset id="detail_{{_id._str}}_box" data-id="{{_id._str}}">

					<div class="control-group">
						<label class="control-label ">
							<span class="required">* </span>模板
						</label>
						<div class="controls">
							<select class="span4 form-control " name="tempname">
								<option {{isTempSelect "0"}} value="0">未选择</option>
								<option {{isTempSelect "newsGridTemplate3"}} value="newsGridTemplate3">3列容器</option>
								<option {{isTempSelect "advertIndexImageTemplate"}} value="advertIndexImageTemplate">图片展示</option>
							</select>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label ">
							<span class="required">* </span>是否显示更多
						</label>
						<div class="controls">
							<input {{isMoreCheck}} name="isshowmore" type="radio" value="1"/>　显示　
							<input {{isNotMoreCheck}} name="isshowmore" type="radio" value="2" />　不显示　
						</div>
					</div>

					<div class="control-group"
					style="{{#if isShowMoreDiv}}display:block;{{else}}display:none;{{/if}}">
						<label class="control-label ">
							<span class="required">* </span>更多类型
						</label>
						<div class="controls">
							<select class="span4 form-control" name="moretype">
								<option value="0">未选择</option>
								{{#if isShowMoreDiv}}
									{{>sysTypeListSelectOption selectval=this.typeID._str}}
								{{else}}
									{{>sysTypeListSelectOption }}
								{{/if}}

							</select>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label ">
							<span class="required">* </span>标题
						</label>
						<div class="controls">
							<input type="text" name="typeshowname" value="{{typeShowName}}" class="span6 m-wrap " />
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button class="btn btn-success js-modal-info-save-bt" >保存</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

		<!-- 新闻列表 -->
		{{> indexModalManageNewsList}}

	    <!-- 添加内容框 -->
	    {{> bannerAddCellMange}}

	</div>
</template>
