<!-- 首页新闻模块管理 -->
<template name="indexModalManage">
	<div class="row">
		<div class="col-md-12 panel-default">
			<div class="content-box-header panel-heading">
				<div class="panel-title ">首页模块管理</div>
				<div class="text-right">
					<button type="button" class="btn btn-success js-add-modal-info-bt">添加</button>
				</div>
			</div>

			<!-- 内容 -->
			<div class="content-box-large box-with-header">	
			{{#each listData}}
				{{>indexModalManageCell}}
			{{/each}}
			</div>
			<!-- 内容end -->

			<!-- 基本添加模板 -->
			{{> modalInfoAddTemplate parentTempType="indexmodal"}}

		</div>
	</div>
</template>