<template name="footer">
    <div id="footer">
        <div class="content">
            <div class="footer-menu">
                <ul>
                    <li><a href="#">首  页</a></li>
                    <li><a href="#">经济金融</a></li>
                    <li><a href="#">社会人文</a></li>
                    <li><a href="#">文化科技</a></li>
                    <li><a href="#">房屋广告</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>