<template name="footer">
    <div id="footer">
        <div class="content">
            <div class="footer-menu">
                <ul>
                    <li><a href="http://www.ribenyan.net">www.ribenyan.net</a></li>
                    <li><a href="#"> Copyright © 2016 · All Rights Reserved</a></li>
                    <li><a href="#">广告服务</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">常见问题解答</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>