<template name="header">
	<!-- Fixed navbar -->
    <nav class="nav_header navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="color:white;font-size:18px;font-weight:bold;" class="navbar-brand" href="#">焦点新闻</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

          <ul class="nav_bar_ul nav navbar-nav">
            <!-- <li class="active"><a href="#">推荐</a></li> -->
            {{#each firstNode}}
                <li>
                  <a href="{{pathFor this.clickShowLayout typeID=this.typeID._str}}">{{showName}}
                  </a>
                </li>
            {{/each}}
            <!-- 更多 -->
              <li style="display:{{isShowMore}};"  class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{#each MoreNode}}
                      <li><a href="{{typeID}}">{{showName}}</a></li>
                  {{/each}}
                </ul>
              </li>
          </ul>

          <ul class="nav_bar_ul nav navbar-nav navbar-right">
            {{#if currentUser}}
            <li>
              <!-- <a href="{{pathFor 'login'}}"> -->
              <a href="">
                  {{#with currentUser}}{{name}}{{/with}}
              </a>
            </li>
          　 <li>
               <a class="logout" href="#">退出
               </a>
            </li>
            {{else}}
              <li>
                <a href="{{pathFor 'login'}}">登录/注册
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</template>