<template name="header">
    {{> popupSearchInput}}
    <div class="header">
        <div class="content">
            <div class="logo"><a href="/"><img src="../../img/web-logo.png"></a></div>

            <div id="wrapper">
                <div id="scroller" class="response-menu">
                    <ul>
                        {{#each firstNode}}
                            <li class="home {{getClass @index}}">
                                <a href="{{pathFor this.clickShowLayout typeID=this.typeID._str}}">{{showName}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="respBox">
                <div class="menu" id="nav">
                    <ul>
                        {{#each firstNode}}
                            <li>
                                <a href="{{pathFor this.clickShowLayout typeID=this.typeID._str}}">{{showName}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="tools">
                    <ul>
                        <li class="searchli"><a class="search" href="javascript:;"><span></span></a></li>

                        <!--<li><a class="login" href="{{pathFor 'login'}}">登录/注册</a></li>-->

                        {{#if currentUser}}
                            <li><a class="login" href="/user/mypage/newslist">{{#with currentUser}}{{name}}{{/with}}</a></li>
                            <li><a class="logout login" href="#">退出</a></li>
                        {{else}}
                            <li><a class="login" href="{{pathFor 'login'}}">登录/注册</a></li>
                        {{/if}}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
