<template name="manageUserUpdate">
	<div class="row">
		<div class="col-md-12 panel-default">
			<div class="content-box-header panel-heading">
				<div class="panel-title ">后台用户更新</div>
			
				<div class="panel-options">
					<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
					<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
				</div>
			</div>
			<div class="content-box-large box-with-header">
				<div class="panel-body">
					<form class="form-horizontal" id="manageuserupdate-form" role="form" method="post">
						<input type="hidden" name="_id"  id="_id" value="{{_id._str}}"/>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">名称</label>
							<div class="col-sm-10">
								<input type="text" id="username" name="username" data-required="1" class="form-control " value="{{username}}" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
							<div class="col-sm-10">
								<input type="email" id="email" name="email" data-required="1" class="form-control " value="{{email}}" required/>
							</div>
						</div>
<!-- 						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">密码</label>
							<div class="col-sm-10">
								<input type="password" id="pwd" name="pwd" data-required="1" class="form-control " required/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">确认密码</label>
							<div class="col-sm-10">
								<input type="password" id="pwdq" name="pwdq" data-required="1" class="form-control " required/>
							</div>
						</div> -->

						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">电话</label>
							<div class="col-md-10">
								<input name="tel" id="tel" type="text" value="{{tel}}" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">用户角色</label>
							<div class="col-md-10">
								<select class="form-control" id="role" name="role">
									<option value="0" {{selected role "0"}}>管理员</option>
									<option value="1" {{selected role "1"}}>一般</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">新闻权限</label>
							<div class="col-md-10">
								<select class="form-control" id="newsperms" name="newsperms">
									<option value="0" {{selected newsperms "0"}}>无</option>
									<option value="1" {{selected newsperms "1"}}>有</option>
								</select>
							</div>
						</div>
						<div class="form-group" id="newsCtrl">
							<label class="col-md-2 control-label" for="select-1">新闻版块权限</label>
							<div class="col-md-10">
								{{> typeShowAll}}
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">广告权限</label>
							<div class="col-md-10">
								<select class="form-control" id="adperms" name="adperms">
									<option value="0" {{selected adperms "0"}}>无</option>
									<option value="1" {{selected adperms "1"}}>有</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="select-1">管理权限</label>
							<div class="col-md-10">
								<select class="form-control" id="ctrlperms" name="ctrlperms">
									<option value="0" {{selected ctrlperms "0"}}>无</option>
									<option value="1" {{selected ctrlperms "1"}}>有</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">确定</button>
								&nbsp;
								<button type="reset" class="btn">重置</button>
								&nbsp;
								<button type="submit" id="delete" class="btn btn-danger">删除</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</template>

