<!-- 首页banner 排版 -->
<template name="indexLayoutBannerManage">

	<div class="row-fluid">
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left">banner管理</div>
			</div>
			<!-- 内容 -->
			<div class="block-content collapse in">	
				<!-- 预览 -->
		
				<!-- 轮播图 -->
				<div class="well well-lg js-slidediv">
					
					<span>轮播图</span>
					<div style="float:right !important;">
						<button type="button" class="btn btn-success js-add-banner-box">添加</button>
					</div>
					{{#each slideData}}
					<div class="cell-box" >
				        <!-- 标题　简介　start -->
				        <div class="cell-brief"  style="display: block;">
				            <div class="number">
				            	<p>{{indexAddOne @index}}</p>
				            </div>
				            <div class="title">
				            	<p>
				            		<span>标题:</span>
				            		{{title}}
				            	</p>
				            </div>
				            <div class="but">
				            	<button type="button" class="btn btn-success js-edit">编辑</button>
				            	<button type="button" data-id="{{_id._str}}" class="btn btn-danger js-delete">删除</button>
				            </div>
				        </div>
				        <!-- 标题　简介　end -->

				        <!-- 详情 start -->
				        <div class="cell-detail" style="display: none;">
				        	<header>
		                    	<p><span>{{indexAddOne @index}}:</span>{{title}}</p>
		                
		                    </header>
		                    <!-- 详细内容 -->
			                <form class="form-horizontal" style="margin-top:10px;">
			                	
			                	{{> bannerDetailCellManage }}
			                	
			                </form>
				        
				            <div class="close-detail-cell js-show-hide-box" data-buttom="true">收起
				            </div>

				        </div>
				        <!-- 详情 end -->
				    </div>
				    {{/each}}

				    <!-- 添加内容框 -->
				    {{> bannerAddCellMange}}

				</div>

				<!-- 右侧列表 -->
				<div class="well well-lg">
					
					<span>右侧列表</span>
					<div class="cell-box" >
				        <!-- 标题　简介　start -->
				        <div class="cell-brief"  style="display: block;">
				            <div class="number">
				            	<p>1</p>
				            </div>
				            <div class="title">
				            	<p>
				            		<span>标题:</span>
				            		slfsjldfjsldjflsdjflsjdklfjlskd
				            	</p>
				            </div>
				            <div class="but">
				            	<button type="button" class="btn btn-success js-edit">编辑</button>
				            	<button type="button" class="btn btn-danger">删除</button>
				            </div>
				        </div>
				        <!-- 标题　简介　end -->

				        <!-- 详情 start -->
				        <div class="cell-detail" style="display: none;">
				        	<header>
		                    	<p>１标题</p>
		                    </header>
		                    <!-- 详细内容 -->
			                <form class="form-horizontal" style="margin-top:10px;">
			                	{{#with testData}}
			                		{{> bannerDetailCellManage }}
			                	{{/with}}
			                </form>
				        
				            <div class="close-detail-cell js-show-hide-box" data-buttom="true">收起
				            </div>

				        </div>
				        <!-- 详情 end -->
				    </div>

				</div>		

			</div>
		</div>
	</div>
</template>

